div {
    border:solid 0px;
}

.body{
    height: 100vh;
}

.bluebg {
    background-color: #eff1f3;
}

.logo {
    background-color :#ffffff;
    display: block;  
  
   
}
.header {
    height: 80px;
    display: flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    left: 350px;

}

.inputelement {
    width: 100%;
    float: right;

 
}

.dropdown {
   position:absolute;
   top: 2%;
   padding: 0px;
   left: 80%;
}
  
 


.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    margin-bottom: 40px;
    margin-left: 20px;
}


.content {
    background-color: #f2f4f5;
    height: 100vh;
}

.sidebar {
    /* background-color: ; */
    height: 100vh;
    justify-content: center;
    align-items:center;
    align-content:center;
    padding: 20px;
}



.row {
    display: flex;
}