<p>Dear {{ name }},</p>

<p>

We are writing to you regarding the form submitted by your direct report, {{ staffName }}.

<p> To access and approve the form, please use the following link and token: </p>

<p> Link: <a href=“{{ url }}”>Form</a> </p> <p> Token: {{token}} </p>

<p> Please note that the link contains a unique token that is also provided in this email for your reference, it will be used to verify your identity and authorize your approval. This token is valid for one-time use only and should not be shared with anyone else. </p>

<p> If you have any questions or concerns about the form or the token, please feel free to contact us at [Insert Email or Contact Information]. </p>

<p> Thank you for your cooperation and prompt response. </p>

Sincerely, PHIS3 Team </p>