<p>Dear {{ name }},</p>

<div>

<p>

Please find below the token to access the form submitted by your direct report, {{ staffName }}:

<p> Token: {{token}} </p>

<p>Form Link: <a href="{{ url }}">Link to Form</a> </p>

Please note that this token is for one-time use only and should be kept confidential. 
If you have any questions or concerns regarding the form or the token, 
please do not hesitate to contact us at [Insert Email or Contact Information].

Thank you for your attention to this matter.

Best regards,
PHIS3 Team
</p>

</div>


